.container {
    margin-top: 16px;
    overflow: scroll;
}

.cart-heading {
    font-size: 2.2rem;
    font-weight: bold;
}
.content_left {
    padding: 8px 16px;
    border: 4px solid var(--grey);
    border-radius: 8px;
    width: 792px;
    height: 100%;
}

.content_right {
    border: 4px solid var(--grey);
    border-radius: 8px;
    width: 392px;
    height: 311px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.line {
    text-align: center;
}

.item_price {
    margin-left: 40px;
}

.item_price-small {
    margin-left: 55px;
}

.btn_checkout {
    width: 360px;
}
.btn_continue {
    width: 360px;
    margin-top: 10px;
}
.button {
    display: grid;
    place-items: center;
}

.modal-checkout-cart {
    padding: 32px 16px;
    outline: 4px solid var(--grey);
    border-radius: 8px;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dialog-icon {
    color: var(--success);
    font-size: 6.4rem;
}

.dialog-title {
    margin-top: 16px;
    font-size: 2rem;
}

.dialog-subtitle {
    margin-top: 8px;
}

.confirm-btn {
    margin-top: 24px;
}