.container {
    padding-top: 48px;
    padding-bottom: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 2rem;
    font-weight: 700;
}

.bill-total {
    margin-left: auto;
}

.order-id {
    margin-left: 32px;
}

.list {
    height: 500px;
    overflow-y: auto;
    margin-top: 16px;
    padding: 0 16px;
}

.item {
    display: flex;
    border: 4px solid var(--grey);
    border-radius: 8px;
    padding: 8px;

    + .item {
        margin-top: 16px;
    }
}

.image {
    width: 240px;
    border-radius: 8px;
}

.item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.price {
    margin-top: 8px;
}

.quantity {
    margin-top: 8px;
}

.total {
    margin-top: auto;
    font-size: 1.7rem;
    font-weight: 600;
    font-style: italic;
}