.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 42px;
    background-color: var(--white);
    padding: 0 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    + .container {
        margin-left: 8px;
    }
}

// Icon
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--orange);
    transition: all 0.1s linear;

    &:hover {
        color: var(--orange);
        background-color: var(--white);
        border-color: var(--orange);
        box-shadow: var(--box-shadow);
    }
}

.outline {
    color: var(--orange);
    background-color: var(--white);
    border-color: currentColor;
    transition: all 0.1s linear;

    &:hover {
        background-color: var(--transparent-orange);
        border-color: currentColor;
        box-shadow: var(--box-shadow);
    }
}

.rounded {
    border-radius: 9999px;
}

// Button sizes
.small {
    min-width: 88px;
    height: 32px;
    font-size: 1.5rem;
}

.large {
    min-width: 140px;
    height: 50px;
}
